<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="addadm-tab" data-toggle="pill" href="#addadm" role="tab" aria-controls="addadm" aria-selected="true">
        Administradores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="addsucu-tab" data-toggle="pill" href="#addsucu" role="tab" aria-controls="addsucu" aria-selected="false">
        Sucursales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="addempl-tab" data-toggle="pill" href="#addempl" role="tab" aria-controls="addempl" aria-selected="false">
        Empleados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="addcli-tab" data-toggle="pill" href="#addcli" role="tab" aria-controls="addcli" aria-selected="false">
        Clientes</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="addped-tab" data-toggle="pill" href="#addped" role="tab" aria-controls="addped" aria-selected="false">
        Pedidos</a>
  </li>
</ul>