<div class="form-group  w-25 ">
    <label for="sel1">Opciones:</label>
    <select class="form-control form-control-sm" id="ProcsSelect" onchange = "ShowHideDivSelect()">
        Opciones:
        <option>Buscar</option>
        <option>Agregar</option>
        <option>Modificar</option>
    </select>
</div>

