<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="addadm" role="tabpanel" aria-labelledby="addadm-tab">
        @if( Model.Adpar.SuperAdmin ){
            //<p style="color:green">Le está permitido agregar administradores.</p>
            //@Html.Partial("Admin/_AdminModAny")
            @Html.Partial("Admin/_AdminAll/_AdminInsert")
            @Html.Partial("Admin/_AdminAll/_AdminModify")
            @Html.Partial("Admin/_AdminAll/_AdminTableAll")
        }else{
            <p style="color:red">No le está permitido agregar administradores.</p>
            @Html.Partial("Admin/_AdminAll/_AdminTableAll")
        }
    </div>

    <div class="tab-pane fade" id="addsucu" role="tabpanel" aria-labelledby="addsucu-tab">
        2
    </div>

    <div class="tab-pane fade" id="addempl" role="tabpanel" aria-labelledby="addempl-tab">
        3
    </div>

    <div class="tab-pane fade" id="addcli" role="tabpanel" aria-labelledby="addcli-tab">
        4
    </div>

    <div class="tab-pane fade" id="addped" role="tabpanel" aria-labelledby="addped-tab">
        5
    </div>
 
</div>
