<div id="adminlogout" >
    <button type="submit" class="btn btn-primary" onclick="logoutf()">LogOut</button>
    <label id>Sesión iniciada por: 
        <b style="color: green;">@Model.Adpar.Name @Model.Adpar.LastName</b>
    </label>
</div>
<br>
<script>
    function logoutf(){
        var url = 'api/LogOutAdmin';
        var http = new XMLHttpRequest();
        http.open('GET', url, true);
        http.setRequestHeader('Content-type', 'application/json')
        http.onreadystatechange = function() {
            if( http.readyState!=4 ){
                ModalInfoShow( "Status", "readyState " + http.readyState+"" )
                return;
            }
            if(http.status == 200) {
                if( http.responseText.includes("Ok") ){
                    ModalInfoShow( "Status", "Sesión terminada." ).onclick = function(){
                        location.reload();
                        location.reload();
                    };
                }
            }else{
                ModalInfoShow( "Error!!!", http.responseText+"" ).onclick = function(){
                    location.reload();
                };
            }
        }
        http.send();
    }
</script>