
<div class="form-group  w-25 ">
    <label for="sel1">Default select list</label>
    <select class="form-control" id="sel1">
    <option>Agregar administrador</option>
    <option>Agregar Empleado</option>
    <option>Agregar Cliente</option>
    <option>Realizar pedido</option>
    </select>
</div>



